.articlewrapper {
  display: flex;
  border: 1px solid rgba(255, 0, 0, 0.267);
  border-radius: 4px;
  padding: 1rem;

  p {
    margin: 0;
  }
  h3 {
    margin: 0;
    transition: color 0.2s ease-out;
    &:hover {
      cursor: pointer;
      color: #f00;
    }
  }
}

.picturearticle {
  padding: 1rem;
  img {
    border-radius: 4px;
    width: 60px;
  }
}
.categoriwrapper{
  display: flex;
  margin:  0.34rem;
}
.categoria {
  display: flex;
  overflow: hidden;
  width: 150px;
  padding: 0.5rem 0.2rem;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.136);
  position: relative; /* Añade posición relativa */
  
  span{
    white-space: nowrap;
    margin: 0 0.2rem;
    padding: 0.5rem;
    transition: transform 0.3s;

  }

}

.categorycheck {
  border: 1px solid rgba(255, 0, 0, 0.216);
  border-radius: 14px;
  padding: 0.1rem 0.4rem;
  margin: 0.3rem 0;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    cursor: pointer;

    background-color: rgba(255, 0, 0, 0.34);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.buttonarticle {
  border: none;
  outline: 1px solid #b33131ae;
  padding: 7px 10px;
  border-radius: 14px;
  transition: all 0.4s ease;
  margin: 1rem 0;
  &:hover {
    background-color: #b33131ae;
    cursor: pointer;
  }
}
.buttonarticle.active {
  background-color: #f00; /* Cambia el color de fondo a tu elección */
  color: #fff; /* Cambia el color de texto a tu elección */
}
.activeT {
  background-color: #f00;
}

.react-markdown-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  line-height: 1.5; /* Ajusta el interlineado según tus necesidades */
  max-width: 100%; /* Para asegurarte de que el contenido no se desborde del contenedor */
}

@media screen and (max-width: 450px) {
  .articlewrapper {
    /* Estilos específicos para dispositivos móviles */
    flex-direction: column;

    /* Otros estilos para dispositivos móviles */
  }
  .picturearticle {
    padding: 1rem 1rem 1rem 0;
    img {
      width: 100%;
    }
  }
}
