.InfoAside {

  display: flex;
  justify-content: center;
 align-items: flex-start;
 flex: 1 ;
  flex-wrap: wrap;
  
  .infocontainer {
    padding: 1rem;

    outline: 1px solid rgba(255, 0, 0, 0.492);
    border-radius: 4px;

    .formwrapper {
      display: flex;
      flex-direction: column;
      position: relative;

      input {
        border: none;
        outline: 1px solid;
        margin: 0.5rem 0;
        padding: 0.3rem;
        border-radius: 4px;
      }
      .formparagraf {
        width: 175px;
        font-size: small;
      }
      .formbutton {
        border: none;
        outline: 1px solid #b33131ae;
        padding: 7px 15px;
        border-radius: 14px;
        transition: all 0.4s ease;
        &:hover {
          background-color: #b33131ae;
          cursor: pointer;
        }
      }
    }
  }

  .infoparafra {
    font-size: small;
  }
}
.stikyinfo {
  position: sticky;
  top: 6px;
  
}