.InfoAside{

  display: flex;
    
  justify-content: flex-end;
  align-content: flex-start;
  flex: 1 1 50px;
  margin: 0.4rem;
  flex-wrap: wrap;
    .infocontainer{
        padding: 1rem;
        margin: 0.5rem;
        width: 100%;
        
        outline: 1px solid rgba(255, 0, 0, 0.492);
        border-radius: 4px;

        .formwrapper{
            display: flex;
            flex-direction: column;

            input{
                border: none;
                outline: 1px solid;
                margin: 0.5rem 0;
                padding: 0.3rem;
                border-radius: 4px;
            }
           .formparagraf{
            width: 175px;
            font-size:small;
           }
           .formbutton{
            border: none;
            outline: 1px solid #b33131ae;
            padding: 7px 15px;
            border-radius:14px;
            transition: all 0.4s ease;
            &:hover{
                background-color: #b33131ae;
                cursor: pointer;
        
            }
           }
        }

    }

    .infoparafra{
       
        font-size: small;
    }
}